h1{
  color: red;

}

#table{
  background-color: blue;
  color: white;
}

.box{
  height: 240px;
  width: 315px;
  background-color: yellow;
  display: inline-block;
}

#output{
  display: inline;
}
